// Place all the styles related to the api/comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comments{
  display: flex;
  flex-direction: column;
  width: 500px;
}

.single-comment {
  justify-content: flex-start;
}

.comment-link {
  text-decoration: none;
  font-weight: bold;
  font-size: 13px;
  margin: 5px 10px 0 10px;
}

.comment-body {
  font-size: 13px;
  margin: 5px 10px 0 0;
}

.comment-form form {
  display: flex;
  width: 100%;
}

.comment-textarea {
  width: 500px;
  justify-content: flex-start;
  margin: 15px 0 0 15px;
  resize: none;
  border: 1px solid #FFF8DC;
}

.comment-submit {
  margin-top: 20px;
  margin-left: 3px;
  height: 25px;
  background-color: #1E90FF;
  border-radius: 5px;
  color: white;
  border: none;
}
