
.footer {
  margin-top: 20px;
  position: fixed;
  background-color: white;
  border-top: 1px solid grey;
  padding-top: 10px;
  left: 0;
  bottom: 0;
  height: 40px;
  width: 100%;
}


.footer-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  color: grey;
  width: 100%;
}

.header {
  position: fixed;
  left: 0px;
  top: 0;
  height: 60px;
  width: 100%;
  background-color: white;
  border-bottom: 1px solid grey;
  min-width: 500px;
}


.header-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.header-title {
  font-family: Impact, Charcoal;
  font-size: 18px;
  cursor: pointer;
}

.header-title:hover {
  transform: scale(1.2);
}

#logout {
  padding: 0;
  border: none;
}

.search-bar {
  display: flex;
  flex-direction: row;
  margin: 20px 15% auto 0;
}

.search-bar input {
  padding: 3px;
  margin-left: 6px;
  width: 160px;
  text-decoration: none;
  border: none;
  outline: none;
  border-bottom: 1px solid black;
}

.search-bar-results {
  position: absolute;
  padding: 3px;
  width: 160px;
  margin-top: 25px;
  margin-left: 22px;
  max-height: 150px;
  overflow-y: scroll;
  background-color: white;
  border: 1px solid black;
}

.click-button {
  display: flex;
  width: 170px;
  justify-content: space-between;
  text-align: center;
}

.profile-pic {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.profile-pic:hover {
  transform: scale(1.4);
}

.upload-pic {
  height: 25px;
  width: 25px;
  margin-bottom: 3px;
  cursor: pointer;
}

.upload-pic:hover {
  transform:scale(1.4);
}

.logout-pic {
  height: 25px;
  width: 40px;
  background: transparent;
  border: 1px solid white;
  cursor: pointer;
}

.search-result:hover {
  background-color: lightgrey;
  cursor: pointer;
}

.logout-pic:hover {
  transform: scale(1.4);
}

.logo {
  height: 40px;
  width: 40px;
  margin-left: 60px;
}

.linked-img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.git-img {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

@media screen and (max-width: 660px) {
  .header-details {
    justify-content: space-around;
  }
}
