// Place all the styles related to the api/posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.all-posts {
  margin: 90px 0 70px 0;
  display: flex;
  flex-direction: column;
}

.post-label{
  display: flex;
  justify-content: space-between;
}

.single-post {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-top: 50px;
  border: 1px solid grey;
}
.post-img {
  height: 400px;
  width: 400px;
}

.post-desc {
  justify-content: flex-start;
  margin-left: 10px;
}
