<!DOCTYPE html>
<html>
<head>
  <title>FullStackProj</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <script src="http://widget.cloudinary.com/global/all.js" type="text/javascript"></script>

  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
